.item {
    display: block;
    display: grid;
    grid-template-columns: 5fr 100px 40px;
    line-height: 1;
    height: 70px;
    border-radius: .5em;
    border: 1px solid gray;
    overflow: hidden;
    transition: height .5s;
    padding: .25em;
}